@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient_color {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 0.8) 0%,
    rgba(0, 0, 0, 0.2) 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
